.intro__btn {
    width: 164px;
    height: 56px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.intro__btn:hover {
    cursor: pointer;
    opacity: 0.9;
}