.form {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 29px;
    position: relative;
}

.form::before {
    content: '';
    background-image: url('../../images/features__card_6.png');
    background-size: cover;
    position: absolute;
    width: 283px;
    height: 283px;
    top: 104px;
    left: 76px;
    z-index: -1;
}

.form::after {
    content: '';
    background-image: url('../../images/features__card_5.png');
    background-size: cover;
    position: absolute;
    width: 189px;
    height: 189px;
    bottom: -8px;
    right: 85px;
    z-index: -1;
}

